
.home-header {
    height: 80vh; /* Full screen height */
    width: 65%; /* Set a fixed width */
    margin: 30px auto; /* Adjust vertical spacing */
    padding-top: 5%;
    background: url('/image3.jpg') no-repeat center center;
    background-size: cover; /* Ensures full coverage */
    position: relative;
    align-items: center;
    border-radius: 30px;
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
    .home-header {
        height: 70vh; /* Reduce height for tablets */
        width: 80%; /* Make the container wider */
        background-position: center top; /* Adjust the image alignment */
    }
}

@media (max-width: 768px) {
    .home-header {
        height: 60vh; /* Further reduce height for smaller devices */
        width: 90%; /* Nearly full width for smaller screens */
    }
}

@media (max-width: 480px) {
    .home-header {
        height: 50vh; /* Compact height for mobile */
        width: 95%; /* Close to full width */
        border-radius: 15px; /* Smaller border radius for smaller screens */
    }
}

.header-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5vw;
    max-width: 70%;
    left: 3vw;   
    animation: fadeIn 3s; 
}

.header-content h2{
    font-weight: 500;
    color: rgb(255, 255, 255);
    font-size: max(4vw,20px);
}

.header-content p{
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 1.2vw;
    backdrop-filter: blur(2px);
}

.header-content h2 span{
    font-weight: 600;
    color: rgb(205, 219, 224);
    font-size: max(4vw,20px);
}

.header-content button{
    border: none;
    color: rgb(15, 37, 58);
    background-color: white;
    font-weight: 900;
    padding: 5px 5px;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: max(1vw,13px);
    border-radius: 10px;
    text-align: center;
}

.header-content button:hover{
    color:white;
    background-color:rgb(15, 37, 58);
    transform: scale(1.1);
    font-weight:600;
}